{{ define "main" }}

<div class="ms in">
	<div class="crd" style="max-width: 650px; margin: 64px auto; border-radius: 6px">
		{{ with .Params.modal_title }}
			<div style="padding: 14px 24px; margin: 0; background: {{ $.Params.modal_color | default "#333" }}">{{ . }}</div>
		{{ end }}
		<div class="m con">
			{{ .Content }}
			<p class="pgr">{{ i18n "comment_submit_result_go_back" }}</p>
		</div>
		{{/* <div class="js" style="border-top:1px solid #444">
			<a href="javascript:window.close()" style="float:right;padding:12px 24px">close</a>
		</div>*/}}
	</div>
</div>

{{ end }}
{{/* define "additional_head" }}
<noscript><style><!--.js{display:none}--></style></noscript>
{{ end */}}
