<nav><div class="secnav"><div class="cntr">
	{{ partial "list/components/list-navigation" . }}
</div></div></nav>
<header><div class="s1">
{{ $page := $.Site.GetPage (replaceRE "/$" "" .RelPermalink) }}{{/* workaround a bug... i should report it i guess */}}
	<div class="cntr">
		<h1 class="m">{{ $page.Title | lower }}</h1>
		<div class="dt"></div>
		<div class="m">{{ if $page.Content }}{{ $page.Content }}{{ else if eq $.Kind "taxonomy" }}<p class="m">all {{ if eq $.Section "categories" }}<span class="ac">{{ $.Name }}</span> category{{ else if eq $.Section "tags" }}<span class="ac">{{ $.Name }}</span> tag{{ else }}<span class="ac">{{ $.Section }}</span> things{{  end }} things.{{ else }}<p class="m">all <span class="ac">{{ $.Section }}</span>.</p>{{ end }}</div>
	</div>
</div></header>
