<hr />
<section class="se"><div>
	<h2 class="hL">{{ .Title }}</h2>
	<div class="cntr ct"><div class="m">{{ with .Content }}{{ . }}{{ else }}<span class="ac">{{ .Title }}</span> things.{{ end }}</div></div>
	<div class="l3o">
		<ul class="l3">
			{{- range .Pages.ByPublishDate.Reverse | first 5 -}}
				<li class="l3i">
					{{- partial "list/components/post-card-small" . -}}
				</li>
			{{- end -}}
		</ul>
	</div>
</div>
{{ if gt (len .Pages) 3 }}<a href="{{ .RelPermalink }}" class="btnl">see more</a>{{ end }}
</section>
