{{ if eq .Kind "section"}}
	<ul class="ms mst">
	{{ range where site.RegularPages "Type" "in" .Section }}
		{{ partial "list/components/post-card" . }}
	{{ end }}
	</ul>
{{ else }}
	<ul class="ms mst">
	{{ range .Pages }}
		{{ partial "list/components/post-card" . }}
	{{ end }}
	</ul>
{{ end }}
