{{ if eq .Section "posts" | or (eq .Section "categories") -}}
<div class="honavo"><ul class="honav">
	<li><a href="{{ (.Site.GetPage "categories").RelPermalink }}"{{ if eq $.RelPermalink ($.Site.GetPage "categories").RelPermalink }} class="active"{{ end }}>categories:</a></li> {{ range  .Site.Taxonomies.categories.Alphabetical }}<li><a href="{{ .Page.RelPermalink }}" {{ if eq $.RelPermalink .Page.RelPermalink }}class="active"{{ end }}>{{ .Name }}</a></li> {{ end }}
</ul></div>
{{ else if eq .Section "videos" | or (eq .Section "channels") -}}
<div class="honavo"><ul class="honav">
		<li><a href="{{ (.Site.GetPage "channels").RelPermalink }}"{{ if eq $.RelPermalink ($.Site.GetPage "channels").RelPermalink }} class="active"{{ end }}>channels:</a></li> {{ range  .Site.Taxonomies.channels.Alphabetical }}<li><a href="{{ .Page.RelPermalink }}" {{ if eq $.RelPermalink .Page.RelPermalink }}class="active"{{ end }}>{{ .Name }}</a></li> {{ end }}
</ul></div>
{{- end }}
<div class="honavo"><ul class="honav"><li><a href="{{ (.Site.GetPage "tags").RelPermalink }}"{{ if eq $.RelPermalink ($.Site.GetPage "tags").RelPermalink }} class="active"{{ end }}>tags:</a></li> {{ range .Site.Taxonomies.tags.ByCount | first 15 }}<li><a href="{{ .Page.RelPermalink }}" {{ if eq $.RelPermalink .Page.RelPermalink }}class="active"{{ end }}>{{ .Name }}&nbsp;{{ .Count }}</a></li> {{ end }}</ul></div>
