<div class="cmin{{ if .Truncated }} trun{{ end }}">
<header>
	<h3 class="crdH"><a class="aBB" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
	<div class="mh mt">
		{{ with .Params.Channels}}<a href="{{ printf "videos/%s/" (. | urlize) | relLangURL }}">{{ . }}</a> &middot; {{ end }}{{ with .Params.Categories }}<a href="{{ printf "posts/%s/" (. | urlize) | relLangURL }}">{{ . }}</a> &middot; {{ end }}{{ with .PublishDate }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format (i18n "dateFormat") }}</time> &middot; {{ end }}{{ if not (le .WordCount 15) }}{{ i18n "word_count" .WordCount }} &middot; {{ i18n "reading_time" .ReadingTime }} &middot; {{ end }}{{ with $.Site.Data.comments }}{{ with (index . (replace $.RelPermalink "/" "_")) }}{{ replace (i18n "comments_title" (len .)) " " "&nbsp;" | safeHTML }}{{ else }}{{ replace (i18n "no_comments_title") " " "&nbsp;" | safeHTML }}{{ end }}{{ end }}
		{{ partial "global/components/post-tags" . }}
	</div>
</header>
<div class="mh crdC">{{ .Summary  }}</div>
</div>
{{ if .Truncated }}<a class="crdM bN" href="{{ .RelPermalink }}">more <i class="i">&raquo;</i></a>{{ end }}
