<div class="nvP"><div class="cntr">
			<a href="{{ "/" | relLangURL }}" class="nvPi left{{ if .IsHome }} active{{ end }}" title="{{ .Site.Title }} - Home">{{ .Site.Title }}</a>
			<ul class="nvPl">
				{{ $currentPage := . }}{{ range .Site.Menus.main }}{{/* if .HasChildren }}
				 <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
					  <a href="#">
							{{ .Pre }}{{ .Name }}
					  </a>
				 </li>
				 <ul class="sub-menu">
							  {{ range .Children }}
						<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
							 <a href="{{ .URL }}">{{ .Name }}</a>
						</li>
							  {{ end }}
				 </ul>{{ else }}
				*/}}<li><a class="nvPi{{ if hasPrefix $.RelPermalink .URL }} active{{ end }}" href="{{ .URL }}" title="{{ replace .Name "/" "" }}">{{ .Pre }}{{ .Name }}</a></li>{{/* end */}}{{ end }}
			</ul>
</div></div>

