<div class="fo1">
<div class="cntr">
<div class="l3">

<section class="l3i">
		<h3>{{ .Site.Author.name }}</h3>
		<p>{{ .Site.Params.footer.description }}</p>
	</section>{{ with .Site.Menus.footer_more }}<section class="l3im"><div>
		<h3>{{ i18n "footer_more" }}</h3>
		<ul class="lnodot">
			{{ range . }}<li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>{{ end }}
		</ul>
	</div></section>{{ end }}{{ with .Site.Menus.footer_links }}<section class="l3im"><div>
		<h3>{{ i18n "footer_links" }}</h3>
		<ul class="lnodot">
			{{ range . }}<li><a href="{{ .URL }}" rel="noopener">{{ .Pre }}{{ .Name }}</a></li>{{ end }}
		</ul>
	</div></section>{{ end }}
</div>
</div>
</div>

<div class="fo2">
<div class="cntr">
	<span class="left">&copy; {{ $.Site.Author.name }} {{ now.Format "2006" }}{{ with .Site.Params.footer.source_url }} | <a href="{{ . }}" target="_blank">{{ with $.GitInfo }}{{ .Hash }}{{ else }}source{{ end }}</a>{{ end }}</span>
	<span class="right">licensed on <a rel="license noopener" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a></span>
	<div class="clearfix"></div>
</div>
</div>
