// these expression() thingys are such a cool feature!

a {
	color: #fff;
}

.crd, figure, figcaption, .crdB, .crdBi, textarea, input, .btn, button, .tag {
	behavior: url(/website-test/js/PIE.htc);
}

.crd {
	//expression(this.parentNode.currentStyle['width'] - 48px); // these expression() thingys are such a cool feature!
}

figure {
	overflow: hidden;
	width: 100%;
	clear: both;
}

figcaption {
	border-radius: 0 0 8px 8px;
	padding: 0;
	// overflow: auto;
	// height: 0;
	// float: left;
	// display: block;
	width: 100%;
	p {
		padding: 8px 12px;
	}
}

.lsC {
	margin-top: 14px;
}

.crdH {
	overflow: auto;
}

.nvP {
	height: 44px;
	overflow: visible;
}
/* navbar */
.nvPh, .nvPl li {
	// display: inline;
	li, a {
	}
}

.nvPl li {
	display: inline; // yes, its already in default css and i have to specify it here again...
}

.honav li {
	display: inline;
}

.l3i {
	display: inline;
}

/* container */
.cntr, .l3 {
	width: expression(document.body.clientWidth > 1023 ? "1024px" : "auto");
	display: block;
}

.crdB {
	overflow: visible;
	height: 40px;
	border-radius: 0 0 12px 12px;
}

.crdH .crdB {
	border-radius: 12px 12px 0 0;
}

.crdBi {
	border-radius: 12px;
}

.ct hr {
	display: block;
	color: #333;
}

.crdM {
	height: 64px;
}

.honav {
	width: 100%;
	padding-bottom: 24px; // the scrollbar is so big
}

.fo1 {
	section {
		margin-top: 24px;
	}
}

textarea, input {
	font-size: 16px;
	color: #fff;
	padding: 12px 12px;
	width: 50%;
}

textarea {
	height: 160px;
}

form {
	// padding: 0 24px;
	// overflow: visible;
	label {
		margin-bottom: 24px;
	}
}

button {
	color: #fff;
	cursor: pointer;
}
