@charset "UTF-8";

// 13. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

@import "lib/variables";
@import "lib/color-variables";
// @import "lib/materializecss-grid";

$navbar-color: color("indigo", "darken-1") !default;
$navbar2-color: color("indigo", "darken-2") !default;

$primary-color: color("indigo", "darken-1") !default;
$primary-color-light: color("indigo", "base") !default;
$primary-color-dark: color("indigo", "darken-2") !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

// Header Styles
/*
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;
*/

$h1-fontsize: 2.25rem !default;
$h2-fontsize: 2rem !default;
$h3-fontsize: 1.75rem !default;
$h4-fontsize: 1.5rem !default;
$h5-fontsize: 1.25rem !default;
$h6-fontsize: 1.15rem !default;


// @import "components/basics";
// @import "basic";
// @import "components/site-navbar-footer";
// @import "components/article";



@import "global/basic";
@import "global/compatibility";
@import "global/main-layout";
@import "global/h1-h6";
@import "global/a";
@import "global/elements";
@import "global/utility-classes";
@import "global/components/site-navbar";
@import "global/components/tags";
@import "global/components/cards";
@import "global/components/site-footer";
@import "global/components/split3-layout";

@import "single/components/figure";
@import "single/components/layout";
@import "single/components/cardsidebar-layout";
@import "single/components/tableofcontents";

@import "list/basic";
@import "list/components/sections";
@import "list/components/h1-wide-line";
@import "list/components/honav";
@import "list/components/btn";

@import "home/basic";

@import "single/tables";
@import "single/syntax_highlighting";
@import "single/post";
@import "single/components/comments";
@import "single/components/comments-form";
