<header><div class="s1">
	<h1>--- {{ .Title }} ---</h1>
	<h2 class="mh h4">{{ .Params.subtitle }}</h2>
	{{ with $.Site.Menus.home_title }}
		<ul class="ltogether">
			{{ range . }}<li><a class="as" href="{{ .URL }}" rel="noopener">{{ .Pre }}{{ .Name }}</a></li> {{ end }}
		</ul>
	{{ end }}
	<div class="cntr"><div class="mh">
		<div class="tags">{{ range .Site.Taxonomies.tags.ByCount | first 15 }}<a href="{{ .Page.RelPermalink }}" class="tag">{{ .Name }}&nbsp;<i>{{ .Count }}</i></a> {{ end }}</div>
	</div></div>
</div></header>
