<header>
		<h5 class="comh">
			{{- if eq .comment.name "ezezaguna" -}}
					<span class="comn comN">{{ .comment.name }}</span>
			{{- else -}}
				{{- if .comment.website -}}
					<a rel='external nofollow noopener' class="comn"  href='{{ .website }}' target="_blank">{{ .comment.name }}</a>
				{{- else -}}
					<span class="comn">{{ .comment.name }}</span>
				{{- end -}}
			{{- end -}}
				{{- if .replylink }}{{- printf " " }}<a href='#comment-{{ .replylink }}' class='comrt' title='{{ .comment.replyID }}'>{{ i18n "comments_inreplyto" }} {{ .comment.replyName }}</a>{{ end }}
				{{- printf " " }}<small><time datetime="{{ .comment.date }}">{{ dateFormat (default (i18n "comment_dateFormat") .Site.Params.dateformat) .comment.date }}</time></small>{{- printf ""  -}}
		</h5>
</header>
<div class="con"><p>{{ .comment.comment | markdownify }}</p></div>
