<section><form id="comment-form" class="m" method="POST" action="{{ $.Site.Params.staticman_api }}" target="_blank">
		<h4 class="hL">{{ i18n "comments_form_header" }}</h4>
		<p>{{ i18n "comments_form_description" | markdownify }}</p>
		<p id="comf-r" class="invisible">
			<span id="comf-rt">you are not replying to</span>
			<span id="comf-n" class="comn">anyone</span>'s <a href="#!" id="comf-l" class="as">comment</a>
			<a href="javascript:void(0)" onclick="rer()" class="as">reset</a>
		</p>
		<noscript><p>{{ i18n "comments_form_noscript" }}</p></noscript>
		<input type="hidden" name="options[redirect]" value="{{ (.Site.GetPage "/comment-submit-result/success").Permalink }}">
		<input type="hidden" name="options[redirectError]" value="{{ (.Site.GetPage "/comment-submit-result/error").Permalink }}">
		<input type="hidden" name="options[slug]" value="{{ replace .RelPermalink "/" "_" }}">
		<input type="hidden" id="comf-ith" name="fields[replyThread]" value="">
		<input type="hidden" id="comf-iid" name="fields[replyID]" value="">
		<input type="hidden" id="comf-ina" name="fields[replyName]" value="">
		<label>name:
			<input name="fields[name]" id="comf-na" type="text" placeholder="{{ i18n "comments_form_name" }}" required pattern="\S(.{0,62}\S)?" title="Name needs to be max 64 chars long and without spaces around">
		</label>
		<label>comment:
			<textarea name="fields[comment]" id="comf-co" placeholder="{{ i18n "comments_form_textarea" }}" required></textarea>
		</label>
	<!--
		<fieldset>
			<input required name="fields[email]" type="text" placeholder="{{ i18n "comments_form_email" }}"/>
		</fieldset>
	-->
		<label>your website (optional):
			<input name="fields[website]" id="comf-we" type="text" placeholder="{{ i18n "comments_form_website" }}" title="Website needs to be a full URL of any kind" pattern="^(([^:/?#]+):)(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?">
		</label>
		<div class="rt">
			<button type="submit">{{ i18n "btnSubmit" }}</button>
		</div>
</form></section>
