<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ if eq (len .) 5 }}{{ printf "%s-%s" (substr . 0 2 | lower) (substr . 3 2 | upper) }}{{ else }}{{ . }}{{ end }}{{ else }}en{{ end }}">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{ block "title" . }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>

	{{ $cssoptions := (dict "targetPath" "style.min.css" "outputStyle" "compressed" "enableSourceMap" false) -}}
	{{ $css := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS $cssoptions | minify | fingerprint -}}
	{{ $iecssoptions := (dict "targetPath" "ie.min.css" "outputStyle" "compressed" "enableSourceMap" false) -}}
	{{ $iecss := resources.Get "scss/ie.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS $cssoptions | fingerprint -}}
	{{ $fullcssoptions := (dict "targetPath" "style.css" "outputStyle" "nested" "enableSourceMap" false) -}}
	{{ $fullcss := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS $fullcssoptions | resources.PostCSS }}
	{{ if not .Params.nostyle }}<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous" media="screen" />{{ end }}
	<style><!--body{background:#111;color:rgba(255,255,255,0.75)}--></style>

	<link rel="apple-touch-icon" sizes="180x180" href="{{ printf "/apple-touch-icon.png" | relLangURL }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ printf "/favicon-32x32.png" | relLangURL }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ printf "/favicon-16x16.png" | relLangURL }}">
	<link rel="manifest" href="{{ printf "/site.webmanifest" | relLangURL }}">
	<link rel="mask-icon" href="{{ printf "/safari-pinned-tab.svg" | relLangURL }}" color="#3322cc">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#3949ab">

	<meta name="author" content="{{ with .Site.Author.name }}{{ . }}{{ end }}">
	{{ with .Description | default .Summary | plainify }}<meta name="description" content="{{ . }}">{{ end }}
	<meta name="keywords" content="{{ if .Params.tags }}{{ delimit .Params.tags "," }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
	<meta name="created" content="{{ .Date.Format "2006-01-02T15:04:05-0700" | safeHTML }}">
	<meta name="modified" content="{{ .Lastmod.Format "2006-01-02T15:04:05-0700" | safeHTML}}">
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	{{/* range .AlternativeOutputFormats -}}
		<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" {{ with $.Site.Title }}title="{{ . }}"{{ end }}>
	{{ end - */}}
	<link rel="alternate" type="application/rss+xml" href="{{ .Site.RSSLink }}" title="{{ with .Site.Title }}{{ . }}{{ end }}">
	{{ if $.Param "canonicalUrl" -}}
	<link rel="canonical" href="{{ .Params.canonicalURL | absLangURL }}">
	{{- else -}}
	<link rel="canonical" href="{{ .Permalink | absLangURL }}">
	{{- end }}

	{{ $html5shiv := resources.Get "js/lib/html5shiv.js" | minify }}
	{{ "<!--[if lt IE 9]>" | safeHTML }}
	<link rel="stylesheet" href="{{ $iecss.RelPermalink }}" />
	<script src="{{ $html5shiv.RelPermalink }}"></script>
	{{ "<![endif]-->" | safeHTML }}

	{{ template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	{{- template "_internal/schema.html" . }}
	{{ if not .Params.robots_noindex | and (eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")) -}}
	<meta name="robots" content="index, follow">
	{{- else -}}
	<meta name="robots" content="noindex, nofollow">
	{{- end }}
	{{ block "additional_head" . }}{{ end }}
</head>
<body bgcolor="#1C1C1C" text="#C6C6C6" link="#8787ff" alink="#8787FF" vlink="#885FFF">
{{ block "site_body" . }}

<div id="top"></div><hr><div id="site-navfill"></div>

<nav id="site-nav"><!-- site-navbar -->
	{{ block "site-navbar" . }}{{ partial "site-components/site-navbar.html" . }}{{ end }}
</nav><hr>

<main{{ if .IsHome }} class="ct"{{ end }}><!-- site-main -->
	{{ block "main" . }}{{ end }}
</main><hr>

<footer><!-- site-footer -->
	{{ block "site-footer" . }}{{ partial "site-components/site-footer.html" . }}{{ end }}
</footer>

{{ $js := resources.Get "js/main.js" | resources.ExecuteAsTemplate "js/main.js" . | minify | fingerprint }}
{{ if not .Params.nojavascript }}<script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>{{ end }}

{{ end }}
</body>
</html>
