{{ define "title" }}{{ if eq $.Kind "taxonomy" }}all {{ if eq $.Section "categories" }}{{ $.Name }} category{{ else if eq $.Section "tags" }}{{ $.Name }} tag{{ else }}{{ $.Section }} things{{  end }} things{{ else }}all {{ $.Section }}{{ end }} &middot; ezezaguna{{ end }}
{{ define "main" }}
<article>
	{{ partial "list/components/header" . }}
	<div class="cntr">
	{{ partial "list/components/listing" . }}
</div></article>
{{ end }}
