{{ define "main" }}
{{ partial "single/components/backdrop" . }}
<div class="cntr ms in">
    <div class="crd" style="border-radius: 4px">
	    <article>
        <header class="crdH">
            <h1 class="m">{{ .Title }}</h1>
        </header>
        <div class="m con crdC">
            {{ .Content }}
        </div>
        </article>
    </div>
</div>
{{ end }}
