/* card */
.crd, .crdS, .crdd {
	@extend %round;
	overflow: auto;
	position: relative;
	// background-color: color("grey", "darken-4");
	background-color: #222;
	// margin: 24px;
	box-shadow: 0 4px 16px 2px rgba(0,0,0,0.4);
	margin: 24px;
}

.crdd {
	margin: 24px 0;
}

.crdS {
	margin: 0;
}

.crdS .cmin {
	min-height: 480px;
	min-height: 30rem;
}
.cmin.trun {
	padding-bottom: 32px;;
	padding-bottom: 2rem;
	box-sizing: border-box;
}

li.crd {
	list-style: none;
}

/* card's header */
.crdH {
	display: block;
	margin: 0;
	border-bottom: 1px solid color("grey", "darken-2");
	overflow: auto;
	text-align: center;
}

/* card's bar, used for post's category and date on single pages */
.crdB {
	// background: color("grey", "darken-3");
	background: #363636;
	overflow: auto;
	text-align: left;
}

/* card bar item */
.crdBi {
	padding: 10px 24px;
}

.crdBis {
	display: inline-block;
	padding: 10px 12px;
}

/*card read more btn*/
.crdM {
	position: absolute;
	right: 0;
	bottom: 0;
	// height: 0;
	padding: 10px 25px;
	margin: -12px 0 0;
	border-radius: 12px 0 0 0;
}

.crdBi, .crdM {
	display: inline-block;
}

/* button "next" and "previous" arrow icon */
.bN .i, .bP .i {
	transition: transform .2s;
	transform: translate(0, -1px);
}

.bN:hover i, .bN:focus i  {
	transform: translate(5px, -1px);
}

.bN:active i {
	transform: translate(2px, -1px);
}

.bP:hover i, .bP:focus i {
	transform: translate(-5px, -1px);
}
.bP:active i {
	transform: translate(-2px, -1px);
}

.crdC {
	text-align: left;
	margin-bottom: 32px;
	margin-bottom: 2rem;
}

@media #{$large-and-up} {
	// .crdS {
		// margin: 32px 12px;
	// }
}

