/* big footer with links, info */

// .fo1, .fo2 {
	// z-index: 10;
	// padding: 12px 24px;
// }

.fo1 {
	background: $primary-color;
	padding: 16px 24px 34px;
}

/* small footer with copyright */
.fo2 {
	background: $primary-color-dark;
	padding: 12px 24px;
}

