/* primary navbar */
.nvP {
	height: 48px;
	line-height: 48px;
	overflow: auto;
	background: $navbar-color;
	transition: all .1s;
	&.scroll {
		// height: 42px;
		// line-height: 42px;
		box-shadow: 0 2px 4px rgba(0,0,0,.3);
		opacity: .9;
	}
}

#site-nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}

#site-navfill {
	height: 48px;
	background: $navbar-color;
}

.nvPi {
	padding: 0 14px;
	display: inline-block;
	height: 100%;
	// vertical-align: middle;
	&.active {
		background: color("indigo", "base");
	}
	&:hover, &:active, &:focus {
		background: color("indigo", "darken-2");
	}
}

/* links */
.nvPl {
	float: right;
	margin: 0;
	list-style: none;
	li{
		display: inline;
		display: inline-block;
		margin: 0;
	}
}
