/* split to 3 columns */
.l3o {
	margin: 3.5rem 18px 3rem;
}
.l3 {
	display: inline-block;
	width: 100%;
	max-width: ((350px + 2*6px) * 3);
	list-style: none;
	margin: 0 auto;
}

/* item */
.l3i, .l3im {
	vertical-align: top;
	display: inline;
	display: inline-block;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
}

.l3i .crdS {
	margin: 6px;
}

@media #{$large-and-up} {
	.l3i, .l3im {
		width: 33.33%; // ahhhh stupid fractions
	}
	.l3im > div {
		margin: 0 24px;
	}

}

