.tags {
	// padding: 0 -6px;
	// margin: 8px 0;
	margin: 8px 0;
	list-style: none;
}

.tag {
	display: inline-block;
	margin: 2px 1px;
	// display: inline;
	// display: inline-block;
	padding: 3px 12px;
	border-radius: 32px;
	// color: rgb(255%,255%,255%);
	// color: rgba(255,255,255,0.9);
	background: color("indigo", "base");
	// min-width: 3rem;
	text-align: center;
	overflow: hidden;
	white-space:nowrap;
	// text-overflow:ellipsis;
	i {
		font-style: normal;
		display: inline-block;
		transition: inherit;
		padding: 3px 12px;
		margin: -3px -14px -3px 0;
		border-radius: 16px;
		background: color("indigo", "lighten-1");
	}
	// box-shadow: 0 1px transparentize(color("indigo", "darken-3"), 0.5);
}
a.tag {
	&.active, &:hover, &:active, &:focus {
		// box-shadow: inset 9999px 9999px rgba(0,0,0,0.20);
		background: color("indigo", "darken-2");
		// background: argb(0,0,0,0.9);
		i {
			background: color("indigo", "base");
		}
	}
}
