{{ with .Page.Resources.GetMatch "featured_image.*" }}
{{ $tinyw := default "500x100" }}
{{ $smallw := default "800x160" }}
{{ $mediumw := default "1200x240" }}
{{ $largew := default "1920x384" }}

{{ $tiny := .Fill $tinyw }}
{{ $small := .Fill $smallw }}
{{ $medium := .Fill $mediumw }}
{{ $large := .Fill $largew }}
<div class="sback imgo" style="padding-top:20%;background: url(data:image/jpeg;base64,{{ (.Resize "32x").Content | base64Encode }});background-size: cover"><a class="imgi zoomc" href="{{ .RelPermalink }}" title="Open the full image">
	<img style="position: absolute;top:0" class="imgi"
	srcset='
	{{ if ge .Width "500" }}
		{{ with $tiny.RelPermalink }}{{.}} 500w{{ end }}
	{{ end }}
	{{ if ge .Width "800" }}
		{{ with $small.RelPermalink }}, {{.}} 800w{{ end }}
	{{ end }}
	{{ if ge .Width "1200" }}
		{{ with $medium.RelPermalink }}, {{.}} 1200w{{ end }}
	{{ end }}
	{{ if ge .Width "1920" }}
		{{ with $large.RelPermalink }}, {{.}} 1920w{{ end }}
	{{ end }}'
	src="{{ $large.RelPermalink }}"
	alt="{{ $.Params.featured_image_alt | default $.Params.Description }}">
</a></div>
{{ end }}
