<article><div class="crdd">{{/* card class is in a separate div for old browser compatibility */}}
	<header><div class="crdH">
		{{ partial "single/components/post/metabar" . }}
		{{ partial "single/components/post/title" . }}
	</div></header>

	<div class="con m crdC">
		{{ with .Params.audio.soundcloud }}{{ $.Scratch.Set "soundcloud_url" (printf "%s%s" $.Site.Params.watch_url.soundcloud_main .) }}{{ end }}
		{{ with .Params.video }}
			{{ with .peertube }}{{ $.Scratch.Set "peertube_embedurl" (printf "%s%s" $.Site.Params.embed_url.peertube .) }}{{ $.Scratch.Set "peertube_url" (printf "%s%s" $.Site.Params.watch_url.peertube .) }}{{ end }}

			<div class="fig"><div {{ with .video_ratio | default "56.25%" }}style="padding-top: {{ . }}"{{ end }} class="imgo"><iframe src="{{ $.Scratch.Get "peertube_embedurl" }}" frameborder="0" sandbox="allow-same-origin allow-scripts" allowfullscreen style="position:absolute;top:0;left:0;height:100%;width:100%"></iframe></div></div>
		{{ end }}
		{{ .Content }}
		{{ if .Params.video | or .Params.audio }}
			<div class="footnotes">
			{{ with .Params.video }}
				<h2 id="watch-on">watch on</h2>
				<ul>
					{{ with $.Scratch.Get "peertube_url" }}<li><a href="{{ . }}" rel="noopener" target="_blank">peertube</a></li>{{ end }}
				</ul>
			{{ end }}
			{{ with .Params.audio }}
				<h2 id="listen-on">listen on</h2>
				<ul>
					{{ with $.Scratch.Get "soundcloud_url" }}<li><a href="{{ . }}" rel="noopener" target="_blank">soundcloud</a></li>{{ end }}
				</ul>
			{{ end }}
			</div>
		{{ end }}
	</div>

	{{ if or .PrevInSection .NextInSection }}{{ partial "single/components/post/prevnextbar" . }}{{ end }}

</div></article>
