<div class="mv ml">
<nav>
<ul id="post-nav">
<li><a href="#post-title">{{ .Title }}</a></li>
{{ if (.Params.enableToc | default true) }}{{ replace (replace (replace (replace .TableOfContents "  " "\t") "<nav id=\"TableOfContents\">" "<li id=\"TableOfContents\">") "</nav>" "</li>" ) "\t\t\t<ul>\n\t\t\t\t<li></li>\n\t\t\t</ul>" "" | safeHTML }}{{ end }}
{{ if (where .Site.RegularPages "Section" "in" (slice "posts" "videos")).Related . }}<li><a href="#post-related">see also</a></li>{{ end }}
<li><a href="#post-comments">comments</a></li>
</ul>
</nav>
</div>
