{{ define "main" }}
{{ partial "single/components/backdrop" . }}
<div class="cntr ms">
	<aside class="lsS">
	{{ partial "single/components/tableofcontents" . }}
	</aside><hr />
	<div class="lsC in">
		{{ partial "single/components/main-card" . }}
		{{/* partial "single/components/post/sharebtns" */}}{{/* kinda cringy */}}
		{{ partial "single/components/post/related-card" . }}
		{{ partial "single/components/post/comments-card" . }}
	</div>
	<div class="clearfix"></div>
</div>
{{ end }}

{{ define "additional_head" }}
<noscript><style><!--.comre{opacity: .6;cursor: not-allowed;}#comf-r{display:none}--></style></noscript>
{{ end }}
