/* card and sidebar layout */

/* card */
.lsC {
	width: 100%;
}

/* sidebar */
.lsS {
	// flex: 0 0 25%;
	// margin: 0 0 0 6px;
	display: none;
	font-size: 90%;
	// margin-top: 18rem;
	margin-top: 4px;
	a {
		color: rgba(255,255,255,0.65);
	}
}

@media #{$medium-and-up} {
	.lsC {
		float: right;
		width: 75%;
	}
	.lsS {
		display: block;
		width: 25%;
		float: right;
		// position: fixed; // fallback
		position: -webkit-sticky;
		position: sticky;
		top: 54px;
		right: 6px;
		max-width: 350px;
		max-height: calc(100vh - 66px);
		overflow: auto;
	}
}
