.coms > li, .thread > li {
	margin: 6px 0;
}

.comh {
	overflow: hidden;
	padding: 9px 0;
	margin: 0 0 -6px;
}

.comh:after {
    content:"";
    display: inline-block;
    width: 100%;
    margin-right: -100%;
    margin-left: 24px;
    vertical-align: middle;
    border-top: 1px dashed color("grey", "darken-2");
}

.thread {
	margin: 0 0 24px;
	padding-left: 22px;
	border-left: 2px solid color("indigo", "base");
}

.comn, .comN {
	@extend .tag;
	display: inline;
}
.comN {
	background: color("green", "darken-2");
}

.comrt {
	padding: 3px 6px;
	border-radius: 16px;
}

.comre {
	@extend .as;
}
