form {
	border: 0;
	padding: 0;
	& > .hL {
		margin: 0 -24px 1.5rem ;
	}
}

input,
textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: .8rem;
	margin: 6px 0 0;
	appearance: none;
	background: #333;
	border: 0;
	border-bottom: 2px solid color("grey", "darken-1");
	border-radius: 3px 3px 0 0;
	color: rgba(255,255,255,.8);
	transition: all .1s;
	box-shadow: none;
	outline: 0;
	text-size-adjust: none;
	&::placeholder {
		color: color("grey", "lighten-2");
	}
	&:focus {
		border-color: color("indigo", "accent-2");
	}
	&:required:invalid {
		border-color: color("red", "base");
	}
	&:required:invalid:focus {
		border-color: color("red", "lighten-2");
	}

}

textarea {
	min-height: 8rem;
	resize: vertical;
	overflow: auto;
}

fieldset, label {
	display: block;
	padding: 0;
	border: 0;
	margin: 0 0 1rem;
}

.invisible, .visible {
	transition: visibility .2s, transform .2s, opacity .2s;
	display: block;
}
.invisible {
	visibility: hidden;
	transform: translate(0, 4px);
	opacity: 0;

}
.visible {
	visibility: visible;
	transform: translate(0, 0);
	opacity: 1;
}

