figure, .fig {
	display: block;
	margin: 2rem 0;
	box-sizing: border-box;
	overflow: auto;;
	border-radius: 8px;
	text-align: center;
	background: #111;
	img {
		display: block;
		margin: 0 auto;
	}
}
figcaption {
	background: #181818;
	padding: 2px 12px;
	overflow: auto;
}

.imgo, .sback {
	position: relative;
	height: 0;
	overflow: hidden;
	background: repeating-linear-gradient(
		-45deg,
		#222,
		#222 10px,
		#333 10px,
		#333 20px
	);
}

.imgi {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
}

.vid {
	height: auto;
}
