.facebook  {
	background: darken(#3B5998, 0%);
	&:hover, &:active, &:focus {
		background: darken(#3B5998, 15%);
	}
}
.twitter  {
	background: darken(#1ea1f2, 12%);
	&:hover, &:active, &:focus {
		background: darken(#1ea1f2, 15%);
	}
}
.gplus  {
	background: darken(#dd4b39, 5%);
	&:hover, &:active, &:focus {
		background: darken(#dd4b39, 15%);
	}
}
.mail  {
	background: #555;
	&:hover, &:active, &:focus {
		background: #444;
	}
}
.reddit {
	background: darken(#f4511e, 5%);
	&:hover, &:active, &:focus {
		background: darken(#f4511e, 15%);
	}
}

.tag svg {
	filter: drop-shadow( 0 1px 3px rgba(0, 0, 0, .7));
	transition: transform .1s;
}

.tag:hover svg {
	transform: rotate(-6deg);
}

.sharebtns span {
	color: #fff;
	// background: rgba(0,0,0,0.2);
	// padding: 1px 6px;
	// border-radius: 16px;
}

svg.i {
	margin: 4px 8px 4px 0;
	height: 1.7rem;
	fill: rgba(255,255,255,0.9);
}

