#post-nav {
	margin: 0;
	line-height: 1.3;
	li {
		margin: 0;
	    list-style-type: none;
	}
	a {
		text-align: left;
		padding: 4px 4px 4px 12px;
		display: block;
		border-left: 2px solid color("indigo", "base");
		border-radius: 0 4px 4px 0;
		&.active {
			// color: rgba(255,255,255,0.85);
			border-left: 2px solid color("indigo", "accent-1");
		}
	}
	& > li {
		margin: 18px 0;
	}
	ul {
		margin: 0;
	}
}
#TableOfContents {
	ul {
		margin: 0;
	}
	ul ul {
		margin: 6px 0 6px 14px;
	}
}

