a, .as {
	// display: inline-block;
	// min-width: 34px; // lets make life easier!
	                    // reverting that as it overlays on text on NetSurf browser :(
	text-decoration: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	// background-color: transparent;
	transition: all .1s ease;
	// transition-property: background, box-shadow;
	color: rgb(255%,255%,255%);
	color: rgba(255,255,255,.75);
	border: 0;
	&:hover, &:active, &:focus {
		background: rgb(20%,20%,20%);
		background: rgba(255,255,255,.07);
		//border-bottom: 2px solid $link-color;
		// text-decoration: underline;
		outline: 0;
	}
}
a:focus, input:focus, textarea:focus {
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

:target:before {
	display: block;
	content: " ";
	margin-top: -10rem;
	height: 10rem;
	visibility: hidden;
	pointer-events: none;
}

.con a {
	color: $link-color;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
	text-underline-offset: 1.5px;
	// border-radius: 2px; // looks kinda weird
	transition: all .2s ease;
	&:hover, &:active, &:focus {
		background: none;
		color: lighten($link-color, 15%);
	}
}

/* super extra big blocc */
.aBB {
	display: block;
	padding: 24px;
	// width: 100%;
}

.zoomc {
	cursor: zoom-in;
}
