html {
	// line-height: 1.5;
	// // font-size: 14px;
	// font-weight: 400;
	// @media only screen and (min-width: $medium-screen) {
		// font-size: 14.5px;
	// }
	// @media only screen and (min-width: $large-screen) {
		// font-size: 15px;
	// }
	// box-sizing: border-box;
	scroll-behavior: smooth;
	tab-size: 3;
	// scroll-padding-top: 100px;
}

// *, *:before, *:after {
// 	box-sizing: inherit;
// }

/* text color, flex for sticking the footer to the bottom */
body {
	display: flex; // for site-footer positioning
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	line-height: 1.5;
	font-weight: 400;
	color: rgb(255%,255%,255%);
	word-wrap: break-word;
	-webkit-overflow-scrolling: touch; // idk what this is but seems cool
}

/* fonts */
body, pre, code, kbd, samp, textarea, input, button {
	font-family: "Ubuntu Mono", "Roboto Sans Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
	font-size: .85rem;
	@media #{$large-and-up} {
	    font-size: 1rem;
	}
}

