hr {
	// color: color("grey", "darken-3");
	border: 0;
	margin: 0;
	display: none;
}

// [hidden] {
// 	display: none;
// }

/* make all images responsive */
img, video, .img {
	max-width: 100%;
	// height: auto;
	border-style: none;
}

blockquote {
	margin: 20px 0;
	padding-left: 16px;
	border-left: 4px solid $primary-color;
}

section {
	overflow: auto;
}

summary { display: list-item; }



abbr {
	// padding: 10px 5px;
	border-bottom: 1px dashed color("grey", "darken-2");
	text-decoration: none;
}

code, kbd, mark {
	// display: inline-block;
	background: #131313;
	padding: 1px 4px;
	border-radius: 3px;
}

mark {
	background: $primary-color;
	color: rgba(255,255,255,0.9);
}

sub, sup { font-size: 75%;  position: relative; vertical-align: baseline; }
sub { bottom: -.25em; }
sup { top: -.5em; }



ul {
	list-style: disc outside;
}

ol {
	list-style: decimal outside;
}

ul, ol {
	padding: 0;
}

.con {
	ul,ol {
		padding-left: 2rem;
		// margin: 24px 0;
	}
	li {
		padding-left: 0.5rem;
	}
}

li {
	margin: 8px 0;
}


// code {
// 	display: inline-block;
// }

em { font-style: italic; }
b, strong { font-weight: 600; }
small { font-size: 75%; }

del {
	color: rgba(255,255,255,0.75);
}
