h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.3;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: 400; }

h1 {
	font-size:2.2rem;
	margin:1.5rem 0 .9rem;
}
h2 {
	font-size:2rem;
	margin:1.3rem 0 .8rem;
}
h3 {
	font-size:1.75rem;
	margin:1.2rem 0 .7rem;
}
h4, .h4 {
	font-size:1.5rem;
	margin:1rem 0 .6rem;
}
h5 {
	font-size:1.25rem;
	margin:.8rem 0 .5rem;
}
h6 {
	font-size:1.15rem;
	margin:.7rem 0 .4rem;
}
