/* container */
.cntr {
	margin: 0 auto;
	// max-width: 1280px;
	// max-width: 1024px;
	max-width: 900px;
	width: 100%;
	transition: width .3s;

	@media #{$medium-and-up} {
	    width: 85%;
	}
	@media #{$large-and-up} {
	    width: 70%;
	}
}

%circular {
	border-radius: 999px;
}
%round {
	border-radius: 12px;
}


/* floats */
.left {
	float: left;
}
.right {
	float: right;
}
.rt {
	text-align: right;
}

.clearfix {
	clear: both;
}
/* content margin */
.m {
	margin: 24px;
}

.mv {
	margin: 24px 0;
}

.mt {
	margin-top: 24px;
}

.mh {
	margin-left: 24px;
	margin-right: 24px;
}

.ml {
	margin-left: 24px;
}

/* section bottom margin */
.ms {
	padding-bottom: 3rem;
}

.mst {
	margin-top: 2rem;
}

.ap {
	padding: 8px 16px;
	border-left: 3px solid color("indigo", "base");
	border-radius: 0 4px 4px 0;
}

.bk {
	display: block;
}

/* icon */
.i {
	display: inline-block;
	font-style: normal;
	vertical-align: middle;
}

/* center text */
.ct {
	text-align: center
}

/* accent text */
.ac {
	color: color("indigo", "lighten-1");

}

.lnodot, .thread, .ltogether {
	list-style: none;
}

.ltogether {
	padding: 0;
	li {
		display: inline-block;
		margin: 6px 3px;
	}
}

.as {
	padding: 5px 11px;
	border-radius: 16px;
}

.in {
	animation: in .2s;
}

@keyframes in {
	from {
		transform: translate(0,10px);
		opacity: 0;
	}
	to {
		transform: 0;
		opacity: 1;
	}
}

.pgr {
	color: rgba(255,255,255,.5);
}

