<div id="submit-error" class="pup" style="visibility: hidden"><div class="m"><div class="pup-i">
	<h4 class="pup-h">{{ i18n "comment_modal_err_header" }}</h4>
	<div class="pup-c m">
		<p>{{ i18n "comment_modal_err" }}</p>
	</div>
	<a href="#post-comments" class="crdM">{{ i18n "comment_modal_err_btn" }}</a>
	<div class="clearfix"></div>
</div></div></div>

<div id="submit-ok" class="pup" style="visibility: hidden"><div class="m"><div class="pup-i">
	<h4 class="pup-h">{{ i18n "comment_modal_ok_header" }}</h4>
	<div class="pup-c m">
		<p>{{ i18n "comment_modal_ok" }}</p>
		{{ with .Site.Params.pullrequestsurl }}
			<p><a href="{{ . }}">{{ i18n "comment_modal_seePR" }}</a></p>
		{{ end }}
	</div>
	<a href="#post-comments" class="crdM">{{ i18n "comment_modal_ok_btn" }}</a>
	<div class="clearfix"></div>
</div></div></div>
