{{ define "main" }}

<article class="s1"><div class="ct">
	<h1>--- 404 ---</h1>
	<div class="m">
	<h4>this website does not exist :c</h4>
	<div class="dt"></div>
	<p><i>that's probably you fucking it up</i></p>
	</div>
	<a href="{{ printf "/" | urlize | relLangURL }}" class="btn">go to the home page</a>
</div></article>

{{ end }}
