.footnotes {
	margin-top: 3rem;
	border-top : 1px dashed color("grey", "darken-3");
	p {
		display: inline;
	}
}


/* post-title h1 margin */
.mPh {
	margin: 24px 24px 16px;
	margin: 24px 24px 1.2rem;
}
.mPhs {
	margin: 12px 24px 16px;
	margin: 12px 24px 1.2rem;
}

.mPm {
	margin: 0 24px 24px;
}

.mPmm {
	margin-top: 20px;
	margin-top: 1.2rem;
}
