.highlight {
	padding: 0 12px;
	margin: 2rem 0;
}
.chroma code {
    background: none;
    padding: 0;
}
.chroma,
.highlight {
    color: #f8f8f2;
    background: #282a36;
    overflow: auto;
    border-radius: 6px;
}
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}
.chroma .lntable {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: block;
}
.chroma .hl {
    display: block;
    width: 100%;
    background: #ffc;
}
.chroma .ln,
.chroma .lnt {
    margin: 0 16px 0 0;
    color: #bfbfbf;
}
.chroma .k,
.chroma .kc {
    color: #ff79c6;
}
.chroma .kd {
    color: #8be9fd;
    font-style: italic;
}
.chroma .kn,
.chroma .kp,
.chroma .kr {
    color: #ff79c6;
}
.chroma .kt {
    color: #8be9fd;
}
.chroma .na {
    color: #50fa7b;
}
.chroma .nb {
    color: #8be9fd;
    font-style: italic;
}
.chroma .nc,
.chroma .nf {
    color: #50fa7b;
}
.chroma .nl {
    color: #8be9fd;
    font-style: italic;
}
.chroma .nt {
    color: #ff79c6;
}
.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi {
    color: #8be9fd;
    font-style: italic;
}
.chroma .dl,
.chroma .s,
.chroma .s1,
.chroma .s2,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .sd,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sr,
.chroma .ss,
.chroma .sx {
    color: #f1fa8c;
}
.chroma .il,
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .mo {
    color: #bd93f9;
}
.chroma .o,
.chroma .ow {
    color: #ff79c6;
}
.chroma .c,
.chroma .c1,
.chroma .ch,
.chroma .cm,
.chroma .cs {
    color: #6272a4;
}
.chroma .cp,
.chroma .cpf {
    color: #ff79c6;
}
.chroma .gd {
    color: #8b080b;
}
.chroma .ge {
    text-decoration: underline;
}
.chroma .gh,
.chroma .gi {
    font-weight: 700;
}
.chroma .go {
    color: #44475a;
}
.chroma .gu {
    font-weight: 700;
}
.chroma .gl {
    text-decoration: underline;
}
