table, th, td {
	border: none;

}

table {
	width: 100%;
	// border-collapse: collapse;
	border-spacing: 0;
	overflow-x: auto;
	display: block;
}

// tr {
// }

td, th {
	border-bottom: 1px solid color("grey", "darken-3");
	margin: 0;
	padding: 14px 5px;
	text-align: left;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}
