button, .btn, .btnl {
	@extend a;
	@extend %circular;
	display: inline-block;
	margin: 6px 0;
	padding: 16px 32px;
	padding: .9rem 2rem;
	background: color("indigo", "darken-1");
	outline: 0;
	border: 0;
	&:hover {
		cursor: pointer;
	}
	&:hover, &:active, &:focus {
		background: color("indigo", "darken-3");
	}
	&::-moz-focus-inner {
		border: 0;
	}
}

/*
.btnl {

}
*/
