/* h1 with a line */
.hL {
	overflow: hidden;
	// width: 100%;
	text-align: center;
	margin: 3rem 24px 2.5rem;

	&:before, &:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		border-top: 1px solid color("grey", "darken-3");
		position: relative;
	}
	&:before {
		right: 24px;
		margin-left: -50%;
	}
	&:after {
		left: 24px;
		margin-right: -50%;
	}

}
