.honavo {
	visibility: hidden;
	overflow: auto;
	transition: visibility .2s;
	&:hover {
		transition: visibility 0 .2s;
	}
}

.honav, .honavo:hover, .honavo:focus {
	visibility: visible;
}
.honav {
	white-space:nowrap;
	list-style: none;
	margin: 0;
	padding: 6px 8px;
	li {
		display: inline-block;
		margin: 2px;
	}
	li a {
		display: inline-block;
		padding: 6px 14px;
		border: 1px solid color("grey", "lighten-1");
		border-radius: 64px;
		&.active {
			background: lighten($navbar2-color, 2%);
		}
	}
	li:first-child a {
		border-color: color("blue", "darken-1");
	}
}
