/* sections - big things with padding on homepage and /categories/, /tags/ */
.se {
	text-align: center;
	&:nth-of-type(even) {
		background: #151515;
	}
	padding-bottom: 32px;
	padding-bottom: 3rem;
}

/* the first section on a page, a bright one */
.s1 {
	text-align: center;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 16px 0 48px;
	min-height: 45vh;
	padding: 24px 0;
	background: #222;
	box-shadow: 0 8px 16px -4px rgba(0,0,0,0.4);
	// h1 {
	// 	font-size: 3rem;
	// }
}

.secnav {
	padding: 18px 0 12px;
	overflow: auto;
	background: $navbar2-color;
	box-shadow: 0 4px 16px 2px rgba(0,0,0,0.4);
}

.dt {
	width: 32px;
	margin: 32px auto;
	border-top: 1px solid color("grey", "darken-2");
}
