<hr />
{{ $form_js := resources.Get "js/comment-form.js" | resources.ExecuteAsTemplate "js/main.js" . | minify | fingerprint }}
<script defer src="{{ $form_js.RelPermalink }}" integrity="{{ $form_js.Data.Integrity }}"></script>
<article class="crdd">
	{{- $slug := replace .RelPermalink "/" "_" -}}

	{{- if .Site.Data.comments -}}
		{{ $comments := index $.Site.Data.comments $slug }}
	<header class="crdH"><h2 id="post-comments" class="m">
		{{- if $comments -}}
			{{ i18n "comments_title" (len $comments) }}
		{{- else -}}
			{{ i18n "no_comments_title" }}
		{{- end -}}
	</h2></header>

	<section>
	<ul class="lnodot crdC m coms">
		{{- $.Scratch.Set "hasComments" 0 -}}
		{{- range $comments -}}
			{{ if not .replyThread }}
				{{- $.Scratch.Add "hasComments" 1 -}}
				{{ $.Scratch.Set "hasReplies" 0 }}
				{{- $.Scratch.Set "threadID" ._id -}}
				{{ $.Scratch.SetInMap "replyIndices" ._id 0 }}
				<li><article id="comment-{{ $.Scratch.Get "hasComments" }}" class="com">
						{{ partial "component-comments/comment-content" (dict "comment" . ) }}
						<div class="rt"><a id="{{ ._id }}" class="comre"  href="#comment-form" onclick="re(this,'{{ $.Scratch.Get "hasComments" }}','{{ .name }}')" title="{{ ._id }}">{{ i18n "replyToMsg" }}</a></div>
				</article>

				{{- range $comments -}}
					{{ if eq .replyThread ($.Scratch.Get "threadID") }}
						{{ if eq ($.Scratch.Get "hasReplies") 0 }}<ul class="thread">{{ end }}
						{{ $.Scratch.Add "hasReplies" 1 }}
						{{ $.Scratch.SetInMap "replyIndices" ._id ($.Scratch.Get "hasReplies") }}
						<li><article id="comment-{{ $.Scratch.Get "hasComments" }}r{{ $.Scratch.Get "hasReplies" }}" class="com">
							{{- $replyTargetIndex := (index ($.Scratch.Get "replyIndices") .replyID) -}}
							{{- $replyLinkEnd := cond (eq $replyTargetIndex 0) "" (print "r" $replyTargetIndex) -}}
  							{{- $replylink := printf "%d%s" ($.Scratch.Get "hasComments") $replyLinkEnd -}}

							{{ partial "component-comments/comment-content" (dict "replylink" $replylink  "comment" . ) }}
							<div class="rt"><a id="{{ ._id }}" class="comre" href="#comment-form" onclick="re(this,'{{ $.Scratch.Get "hasComments" }}r{{ $.Scratch.Get "hasReplies" }}','{{ .name }}')" title="{{ $.Scratch.Get "threadID" }}">{{ i18n "replyToMsg" }}</a></div>
							</article></li>
					{{ end }}
				{{- end -}}
				{{ if gt ($.Scratch.Get "hasReplies") 0 }}</ul>{{ end }}
				{{ $.Scratch.Delete "replyIndices" }}
			{{- end }}
		{{ else }}
			<span class="h4">&ge;.&le;</span>
			<p>{{ i18n "no_comments" | markdownify }}</p>
		{{ end }}
	{{- end }}

	</ul>

</section>

{{ partial "component-comments/form" . }}

</article>

