<div class="crdB">
	<div class="left"><a class="crdBi" href="{{ (.Site.GetPage "section" .Section).RelPermalink }}">{{ .Section }}</a>{{ with .Params.Categories | default .Params.Channels }}{{ with $.Site.GetPage "taxonomy" (printf "%s/%s" $.Section .) }}<span class="crdBis"> &gt; </span><a class="crdBi" href="{{ .RelPermalink }}">{{ .Params.title_short | default .Params.Title }}</a>{{ end }}{{ end }}</div>
	<time datetime="{{ .PublishDate.Format "2006-01-02" }}" class="crdBi right">{{ .PublishDate.Format ( i18n "dateFormat" | default .Site.Params.dateFormat | default "2 Jan, 2006" ) }}</time>
	<div class="clearfix"></div>
</div>
