<div class="crdB">
	{{ with .PrevInSection }}<a class="crdBi left bP" href="{{ .RelPermalink }}" rel="prev"><i class="i">&laquo;</i>&nbsp;{{ .LinkTitle }}</a>{{ end }}
	{{ with .NextInSection }}<a class="crdBi right bN" href="{{ .RelPermalink }}" rel="next">{{ .LinkTitle }}&nbsp;<i class="i">&raquo;</i></a>{{ end }}
	<div class="clearfix"></div>
</div>
