{{ with (where .Site.RegularPages "Section" "in" (slice "posts" "videos")).Related . | first 5 }}
<hr />
<section class="crdd">
<header class="crdH">
	<h2 id="post-related" class="m">see also</h2>
</header>
<ul class="m lnodot">
	{{ range . }}
		<li><a href="{{ .RelPermalink }}" class="ap bk">{{ .Title }}{{ with .Params.Categories }} &middot; {{ . }}{{ end }}{{ with .Params.Subtitle }} &middot; {{ . }}{{ end }}{{ with .Params.Channels }} &middot; {{ . }}{{ end }}</a></li>
	{{ end }}
</ul>
</section>
{{ end }}
