<h1 id="post-title" class="mPh">{{ .Title }}</h1>
{{ with .Params.Subtitle }}<h2 class="h4 mPhs">{{ . }}</h2>{{ end }}
<div class="mPm">
	{{ partial "global/components/post-tags" . }}
	{{ if ge .WordCount 15 }}<div class="mPmm">{{ i18n "word_count" .WordCount }} &middot; {{ i18n "reading_time" .ReadingTime }}</div>{{ end }}
</div>
