{{ with $.Page.Resources.GetMatch (.Get "name") }}
	<figure>
		<a href="{{ .RelPermalink }}" class="zoomc" title="Open image">
			<div style="{{ with $.Get "ratio" | default "50%" }}padding-top: {{ . }};{{ end }}background: url(data:image/jpeg;base64,{{ (.Resize "32x").Content | base64Encode }});background-size: cover" class="imgo"><img class="imgi" srcset="{{ (.Resize "320x").RelPermalink }} 320w, {{ (.Resize "800x").RelPermalink }} 800w, {{ (.Resize "1200x").RelPermalink }} 2x" src="{{ (.Resize "800x").RelPermalink }}" {{ with $.Get "alt" }}alt="{{ . }}"{{ end }}></div>
		</a>
		{{ with $.Get "caption" }}<figcaption><p>{{ . }}</p></figcaption>{{ end }}
	</figure>
{{ else }}
  <i style="color: #f77">could not find image <code>{{ .Get "name" }}</code> {{ with .Get "caption" }}{{ . }}{{ end }}</i>
{{ end }}

