{{ with .Get "url" }}
	<figure>
		<div {{ with $.Get "ratio" | default "56.25%" }}style="padding-top: {{ . }}"{{ end }} class="imgo"><iframe class="imgi" src="{{ .Get "url" }}" frameborder="0" sandbox="allow-same-origin allow-scripts" allowfullscreen></iframe></div>

		{{ with $.Get "caption" }}<figcaption><p>{{ . }}</p></figcaption>{{ end }}
	</figure>
{{ else }}
  <i style="color: #f77">no video url {{ with .Get "caption" }}{{ . }}{{ end }}</i>
{{ end }}

